// FIXME Sass.js fails to detect it as SASS rather than SCSS
// @import 'jspm:bulma/bulma.sass'

html, body
  height: 100%

.icon.is-huge
  display: inline-block
  font-size: 96px
  height: 96px
  line-height: 96px
  text-align: center
  vertical-align: top
  width: 96px

.card.is-primary
  border: 1px #1fc8db solid

.footer
  padding-bottom: 20px

// https://github.com/jgthms/bulma/pull/126
.has-text-dark
  color: #222324
a.has-text-dark:hover, a.has-text-dark:focus
  color: #090a0a
.has-text-primary
  color: #1fc8db
a.has-text-primary:hover, a.has-text-primary:focus
  color: #199fae
.has-text-info
  color: #42afe3
a.has-text-info:hover, a.has-text-info:focus
  color: #1f99d3
.has-text-success
  color: #97cd76
a.has-text-success:hover, a.has-text-success:focus
  color: #7bbf51
.has-text-warning
  color: #fce473
a.has-text-warning:hover, a.has-text-warning:focus
  color: #fbda41
.has-text-danger
  color: #ed6c63
a.has-text-danger:hover, a.has-text-danger:focus
  color: #e84135

